@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face{
  font-family: "DMSans";
  src: url("../assets/fonts/DM_Sans/DMSans-Regular.ttf")
}

@font-face{
  font-family: "Playfair";
  src: url("../assets/fonts/Playfair_Display/static/PlayfairDisplay-Regular.ttf")
}

html {
  scroll-behavior: smooth;
}
html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.paragraphs{
  font-family: 'DMSans', sans-serif;
}

.heading-1{
  font-family: 'Playfair', sans-serif;
}
